@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;700&family=Bungee&family=Lora:wght@700&family=Orbitron:wght@400..900&display=swap');

body {
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #1A2223;
    color: white;
    font-family: 'AR One Sans', sans-serif;
    font-size: 18px;
}

main, footer {
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

nav {
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;

}

#hidden-title {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, caption {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 3em;
    text-align: left;
}
  
h2 {
    font-size: 1.75em;
    font-family: "Orbitron", serif;
    font-weight: 900;
    margin-bottom: 10px;
}

nav h2{
    color: white;
}

h3 {
    font-size: 1.2em;
}
    
li {
    font-size: 1em;
    margin: 1.5em 0;
    line-height: 1.5 em;
    list-style-type: none;
}

a {
color: white;
}

p{
    font-size: .8em;
}

strong{
    font-size: 1.5em;
}

a:hover {
    background-color: #F1E0FF;
    color: #153063;
}

strong {
    font-weight: 700;
}

h1, h2, h3 {
    padding: .2em 0;
    /* text-align: center; */
}

/* h2 {
    padding-bottom: 30em 0;
} */

h3 {
    padding-top: .7em;
}

p {
    margin: 1.8em 0;
    line-height: 1.8em;
}

header, main, aside, footer {
    padding: 1.5em;
    
}

nav {
    /* border: 1px black solid;
    padding: 0px 50px; */
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 50px;
    background-color: #4E4C51;
    /* border: 1px solid black; */
}

nav ul {
    display: flex;
    /* flex-flow: row nowrap; */
    /* justify-content: left; */
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}



nav ul li {
    list-style: none;
}

nav ul a {
    color: white;
    text-decoration: none;
}
 
.slider-container, 
.slider-wrapper, 
.slider-wrapper * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.slider-container2, 
.slider-wrapper2, 
.slider-wrapper2 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container {
width: 100%;
max-width: 1400px;
overflow: visible;
margin: auto;
position: relative;
}

.slider-container2 {
    width: 1400px;
    overflow: hidden;
    margin: auto;
    position: relative;
    }

.slider-wrapper {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
width: max-content;
}

.slider-wrapper2 {
    display: flex;
    transition: transform 0.1s ease-in-out;
    width: max-content;
}

.slider-wrapper img {
width: 160px;
height: 200px;
flex-shrink: 0;
object-fit: cover;
}

.logo img {
    width: 300px;
    height: auto;
}

.slider-wrapper2 img {
    width: 300px;
    height: 350px;
    flex-shrink: 0;
    object-fit: cover;
    }

.slider-wrapper .slide {
width: 160px;
height: 200px;
flex-shrink: 0;
margin: 0 5px;
}

.slider-wrapper2 .slide2 {
    display: block;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
    margin: 0 25px;
    }



.slide2 {
display: flex;
width: 200px;
height: 250px;
margin: 0;
flex-shrink: 0;
}

#prev {
left: 10px;
}

#next {
right: 10px;
}

#prev2 {
    left: 10px;
    }
    
#next2 {
right: 10px;
}

/* Skip-nav info */

.skip-link{
    background: black;
    color: white;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
  }
  
  .skip-link:focus {
    transform: translateY(-100%);
  }
  
  .skip-link {
    transition: transform 1s;
  }

header {
    grid-area: head;
    background-color: #1A2223;
    /* text-align: center; */
    
}
nav {
    grid-area: navi;
    background: #4E4C51;
}
main {
    grid-area: main;
    background-color: #1A2223;
    overflow: visible;
    position: relative;
}
#aside2 {
    grid-area: aside2;
    background-color: #CFBAE1;
    border: black solid
}
#aside1 {
    grid-area: aside1;
    /* background: #4E4C51; */
    text-align: center;
    border: 1px black solid;
    border-bottom: none;
}

.info{
    background-color: #4E4C51;
    border: 1px black solid;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

#aside1 p{
    margin: .5em;
    text-align: left;
}

#aside1 img{
    width: 375px;
    height: 500px;
}

footer {
    grid-area: footsy;
    background: #6E5B8C;
    text-align: center;
}

/* Navbar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar input {
padding: 5px 30px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 5px;
outline: none;
}

.search-bar button {
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #777;
  }

/* game ranking section */

.ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4E4C51;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .ranking ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .ranking li {
    font-size: 1.2em;
    font-family: 'AR One Sans', sans-serif;
  }

  /* container */
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    3fr 7fr;
    grid-template-areas: 
    "head  head"
    "navi  navi"
    "aside1   main"
    "aside1   main"
    "aside1   main"
    "footsy   footsy";
}

.container1 {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    10fr;
    grid-template-areas: 
    "head"
    "navi"
    "main"
    "main"
    "main"
    "footsy";
    }

.release {
    font-family: "Orbitron", serif;
    font-weight: 900;
    margin-bottom: 10px;
    color: #478ECC;
    background-color: #38373A;
}
    
.availible {
    font-family: "Orbitron", serif;
    font-weight: 900;
    margin-bottom: 10px;
    color: #4764CC;
    background-color: #38373A;
}

.score {
    font-family: "Orbitron", serif;
    font-weight: 900;
    color: #69C8C9;
}

.slider-wrapper {
    margin-bottom: 20px;
}

figure{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    border-collapse: seperate;
    margin-top: 20px;
    border-spacing: 0 15px;
    border-radius: 8px;
    background-color: transparent;
}

tr {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    color: #FFF;
}

th {
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    border: none;
}

td {
    font-size: 1.2em;
    vertical-align: middle;
}

/* global ranking table css made with ChatGPT */

#game-table th:first-child, #game-table td:first-child {
    width: 30%;
}

#game-table th:nth-child(2), #game-table td:nth-child(2) {
    width: 50%;
}

#game-table th:last-child, #game-table th:last-child {
    width: 20%;
}

.game-image {
    width: 150px;
    height: 225px;
    border-radius: 8px;
    margin-left: 30px;
}

/* this is just me testing smthing */


.slide {
    display: flex;
    width: 200px;
    height: 250px;
    margin: 0;
    flex-shrink: 0;
    
}

figure:hover img{
    filter: drop-shadow(0px 0px 10px black) grayscale(70%);
    /* filter: grayscale(80%); */
    transform: scale(1.15);
}

figure:hover{
    z-index: 100;
}

figcaption {
    text-align: center;
    font-size: .8em;
    padding: none;
    margin: 2px;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0px;
    left: 50%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

figure {
    filter: drop-shadow(0px 0px 0px black);
    position: relative;
    display: inline-block;
    overflow: visible;
    z-index: 1;
}

figure img {
    transition: filter 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: z-index 0.3 ease-in-out;
}

figure:hover figcaption{
    opacity: 0;
}
